.header-text {
	font-family: 'Karla', sans-serif;
	color: mintcream;
}

.navbar-brand {position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between; //thats where spaces come from
padding: 0.5rem 1rem;
}


#subscribe-text {
	font-size: 2rem;
}

.fa-facebook {
	color: black;
}

.svg {
	color: black;
}
